body{
	background-color: #0076A9;
	border-style: solid;
	border-width: 10px;
	border-color: #EF0400;
	font-family: 'Press Start 2P', cursive;
}

h1{
	text-align: center;
	color: #FEFCCA;
}

.row{

}

.center{
	text-align: center;
	margin: auto;
	margin: 40px;
}

#music, #soundFX{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	border: none;
	font-size: 15px;
	width: 200px;
	height: 30px;
	color: #EF0400;
	box-shadow: 10px 5px 5px #FEFCCA;
	text-decoration: line-through;
}

#music:hover, #soundFX:hover{
	color: #0076A9;
	background-color: #EF0400;
	text-decoration: none;
}

.btnClicked{
	color: #0076A9 !important;
	background-color: #EF0400 !important;
	text-decoration: none !important;
}

.image{
	display: inline-block;
	max-width: 300px;
	max-height: 300px;
	margin: 10px;
	opacity: .85;
	padding: 5px;
	border: solid;
	border-color: #0076A9;
}

.image:hover{
	opacity: 1;
	border-color: #EF0400;
}

.hide{
	display: none;
}

.popup{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

.popup-img{
	max-width: 80%;
	max-height: 90%;
	margin-top: 5%;
}

.nav-btn{
	top: 25%;
	width: 50px;
	height: 50%;
	background-color: #FEFCCA;
	position: relative;
	opacity: .8;
}

.nav-btn:hover{
	opacity: 1;
}

.nav-btn p{
	padding-left: 5px;
	position: absolute;
	top: 20%;
	font-size: 45px;
}

.nav-left{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	float: left;
}

.nav-right{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	float: right;
}

.blank{
	margin: 0 auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}